h1 Par mums
p.
    Kompānija SIA “Lanser” tika dibināta 2006.gadā. Jau no dibināšanas momenta mūsu kompānija veiksmīgi  strādā ar plašu
    pakalpojumu klāstu, tādu kā ādas apavu un somu remontu, kā arī no zamšadas un citiem materiāliem. Mūsu kompānija
    darbības laikā  esam sevi  pieteikuši kā augsti kfalificēti profesionāļi, kuriem  mūsu klienti ar prieku uztic
    savas mīļākās lietas. Mēs garantējam kvalitatīvu darba izpildi jebkuram mūsu pakalpojumam, neatkarīgi no tā sarižģītības.

p Mūsu pakalpojumi:
ul
    li Vīriešu, sieviešu, bērnu un profesionālo apavu remonti
    li  apavu iztiepšana
    li apavu restaurācija
    li rāvējslēdzēju nomaiņa
    li apavu zoles profilakse
    li apavu zoles remonti un tā nomaiņa
    li papēžu remonti un tā nomaiņa
    li pasitņu nomaiņa
    li supenatora nomaiņa
    li apavu krāsošana
    li apavu tīrīšana no netīrumiem un sāls
    li omu remonta pakalpojumi:
    li rokturu remonts
    li restaurācija
    li somu metāla daļas remonti
    li rāvējslēdzēja nomaiņa/remonts
    li oderes remonts

p Mēs pedāvājam Jums pārliecināties par mūsu profesionalitāti un Jūs vairs nevēlēsieties grieztiespie cita meistara.
p Mūsu darbnīca atrodas centrā, ērti pieejamā vetā pēc adrese Dzirnavu ielā 110a, Rīgā
p Pensionāriem piedāvājam atlaides 5-10% apmērā atkarīgi no darba apjoma.