h1 Footwear and luggage repair - Lānser
h3 Lānser

h2 Latvian
button
    a(href="/lv/prices") prices
button
    a(href="/lv/about") about

h2 English
button
    a(href="/en/prices") prices
button
    a(href="/en/about") about

h2 Russian
button
    a(href="/ru/prices") prices
button
    a(href="/ru/about") about
