h1 About Us

p.
    SIA Lanser was established in 2006. For over 10 years our company successfully working by providing a high level
    quality and a wide range of services: shoe repair, leather bag/purse repair, shoe care, foot care, etc.
    We’re a small, family-owned and family-operated business and our staff has over 35 years experience working in
    the shoe repair industry. As a leader of shoe repair industry in Latvia we can guarantee the superb quality and
    attention to detail with high-level customer service to every client. After using our services you will not need
    to find another shop! Lanser shoe repair in Riga specializes in shoe, boot, and leather restoration, and does custom
    modifications, heel and sole build-up to meet the individual needs of every customer.

p The list of our services includes, but not limited to:
ul
    li Sole build-up
    li Heel build-up
    li Stretching (as well as bunion stretching)
    li Removing all dirt, soil, old polish
    li Welts replacement: reworking the bedding of the footwear
    li Leather reconditioning (to lessen cracking and extend life)
    li Complete sole removal
    li Heel rewraping (to maintain original apperance)
    li Suede cleanup
    li Zipper replacement
    li Handbags repair and much more!

p For service in English please contact us via Skype: kristina_h81, call or leave a message and we will return to you ASAP.

script(type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js" defer
onload="setTimeout(function(){var c={name:'call',element:'SkypeButton_Call_kristina_h81',participants:['kristina_h81'],imageSize:32};Skype.ui(c);c.name='chat';c.element='SkypeButton_Chat_kristina_h81';Skype.ui(c)},0)")
div(id="SkypeButton_Call_kristina_h81")
div(id="SkypeButton_Chat_kristina_h81")