mixin footer(txt)
    footer
        address
            a(href="https://goo.gl/maps/r6d6ZfvHdnk") !{txt.address}
        div
            a(href="tel:+37167283013") !{txt.tel}
        div !{txt.hours}