mixin footer(lang)
- var data = public._data.footer;
    footer
        address.
            <a href="https://goo.gl/maps/r6d6ZfvHdnk">Riga, Dzirnavu 110a</a>,
            #{data.tel}<a href="tel:+37167283013">67283013</a>,
            #{data.mob}<a href="tel:+37129807840">29807840</a>,
            #{data.hours}