block setup
    - var store = "Lanser store"

picture
    source(media="(min-width: 960px)" srcset="/static/img/store-s.jpg 1x, /static/img/store-l.jpg 2x")
    source(media="(min-width: 480px)" srcset="/static/img/store-s.jpg 1x, /static/img/store-m.jpg 2x")
    source(media="(min-width: 240px)" srcset="/static/img/store-s.jpg 2x")
    img(src="/static/img/store-m.jpg" alt="#{store}")

div#map

script.
    var map;
    function initMap() {
        var position = {lat: 56.947693, lng: 24.124859};
        map = new google.maps.Map(document.getElementById('map'), {
            center: position,
            zoom: 18
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
    }

script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGbzsVZzP0b4yRMBOoqzsAwbQJmPRkOHs&callback=initMap")