-
    var path = current.path.length < 2 ? ["lv", "index"] : current.path;
    var lang = path[0];
    var txt = public._data.txt[lang];


block lead
    h1 Sia Lanser lang
    p Remonts un apkope kurpes, aprīkošana papēži, remontu un tehnisko apkopi ādas izstrādājumu, bagāžas un tamlīdzīgi

div.store
    picture
        //source(media="(min-width: 960px)" srcset="/static/img/store-s.jpg 1x, /static/img/store-h.jpg 2x")
        //source(media="(min-width: 480px)" srcset="/static/img/store-s.jpg 1x, /static/img/store-m.jpg 2x")
        //source(media="(min-width: 240px)" srcset="/static/img/store-s.jpg 2x")
        img(src="/static/img/store2.jpg" alt=txt.storePhoto)

include _map