body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
}

.prices {
  td:nth-child(1) {
    text-align: left;
    padding-right: 1em;
  }
  td {
    text-align: right;
  }
}

#SkypeButton_Call_kristina_h81, #SkypeButton_Chat_kristina_h81 {
  display: inline;
  > * {
    display: inline;
  }
}