section.media
    h2 Interview Gorod TV
    .aspect-ratio
        iframe(src="https://www.youtube.com/embed/G5IOidzQADw?ecver=1" frameborder="0" allowfullscreen)

section.media
    h2 Panorama May 2009, No 5 (182)
    a(href="/static/img/media/panorama_article.jpg" target="fullArticle")
        img(src="/static/img/media/panorama.jpg" data-large="/static/img/media/panorama_article.jpg" alt="")


    p.
        Обувь у человека не только для ходьбы, но это и его здоровье, а также способ самовыражения. Приоьбретая новую пару.
        мы искренне радуемся покупке. И сколь велико разочароеание, когда приглянувшиеся тугого при носке тянут н трут,
        ФЬЧЁГЗэЁРтЦйЬЗН ч-гтвёчодчна через несколь но дней отеваггилась. Не расстраи оаитесьё Покажите туфли доктору
        ее Мастеру Чергею Сидоров. Он не гшдёятб поставит профессиональный диагноз, пооведет качественный ре егонт,
        не: и даст дельные советы по‚ коду, чтобы обновка служила как твои-вне дольше.
        <a href="/static/img/media/panorama_article.jpg" target="fullArticle">Full article</a>

section.media
    h2 Lublu! 41 08/04/2008
    a(href="/static/img/media/lublu_article.jpg" target="fullArticle")
        img(src="/static/img/media/lublu.png" data-large="/static/img/media/lublu_article.jpg" alt="")

    p.
        Похоже, весип все же оттесиипп зиму, тпх что спмое время до следующего хврпть подольше теппые вещи и овхвь.
        с одеждои вопьших сложиостеи не вывпет — почистим дп перепо жипя средствдми против мопи, п вот с овувхои
        придется повозиться, еспи хоинечио, мы хотим еще походить в неи. О том, хпх сдеппть ото по всем прпвиппм,
        рпссхпзьтвпет сертен сидоров, хозяин мпстеттсхои по ремонту овхви прмш вевтпзв (УЛ. дзирнпвх, по).
        П аподио он рпсхрьш и много других секрет.
        <a href="/static/img/media/panorama_article.jpg" target="fullArticle">Full article</a>

